.layout-transparent {
  background: url('assets/images/transparent.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.mdl-card__supporting-text{
    height: 4096px;
}
.mdl-card__supporting-text:before, .mdl-card__supporting-text:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.mdl-card__supporting-text:after {
    clear: both;
}